#box{
    background-color: blue;
}

.heading{
    background-color: red;
}

button{
    background-color: green;
}
body{
    background-image: url(sleeping\ panda.jpg);
    background-repeat: repeat;
    background-position: 100px;
    background-attachment:local;
    background-color: yellow;

    /* font properties
    font family 
    font style
    font weight
    font size*/

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;

}

