* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 900px;
}


.profile-box {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(252, 251, 251);
    overflow: hidden;
    align-items: stretch; 


.left-section {
    flex: 1; 
    max-width: 35%;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-img img {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

.role {
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 5px;
}


.social-media {
    margin-top: 15px;
}

.social-media a {
    display: inline-block;
    color: white;
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
}


.right-section {
    flex: 2; 
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


p {
    margin-bottom: 10px;
}

.skill {
    margin-bottom: 15px;
}


.progress {
    height: 8px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress div {
    height: 100%;
    background: #00ff87;
}


ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-box {
        flex-direction: column; 
    }
    .left-section, .right-section {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
}
}