h1{
    color: purple;
    direction:rtl;
    letter-spacing: 10px;
    text-align:center;
    text-decoration:overline ;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px grey;
}

img{
    width: 300px;
    height: 300px;
    border: 10px solid black;
    filter: drop-shadow(5px 10px 8px yellow);
    border-radius: 50%;
   
}